# Ignore Scania Data & Databases
database/*.db
*.db
*.pdf
*.CATProduct
*.CATPart
*.db
*.sqlite
*.sqlite3
reports/
*.ico
# Ignore Temporary Images
*.png
*.jpg
*.bmp

# Python cache & environments
__pycache__/
*.pyc
venv/
env/
# Security (NEVER UPLOAD API KEYS)
.env
# Ignore Generated Reports
reports/
*.html
# Ignore Scania input drawings
agents/Drawings/

# PyInstaller build folders
build/
dist/
*.spec
build_dist/
build_work/